.parents-page {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .notice-board {
    padding: 20px;
    background-color: #fff;
  }
  
  .notice {
    background-color: #e0e0e0;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  
  .notifications {
    position: relative;
    
  }
  
  .bell-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }
  