.parents-page {
    display: flex;
  }
  
  .main-content {
    flex: 1;
    background-color: #f9f9f9;
  }
  
  .notice-board {
    padding: 20px;
    background-color: #fff;
  }
  
  .notice {
    background-color: #e0e0e0;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .header {
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  
  .notifications {
    position: relative;
    
  }
  
  .bell-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }
  /* Tela de Reunião */
  
.solicitar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.solicitar button{
  border: 1px solid;
}

.reuniao .form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  width: 100%;
  background-color: #ccc;
  padding: 30px;
  gap: 20px;
}
.form .input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.form label{
  font-size: 20px;
}
.tabela{
  padding: 30px;
  font-size: 20px;
}


/* Tela de Agenda */
.topo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.topo h1{
  font-size: 20px;
}
.topo select{
  font-size: 20px;
  border: 1px solid black;
  cursor: pointer; 
  padding: 5px;
  border-radius: 10px;
}
.topo select:hover{
  background-color: #ccc;
}
  